<launch>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>

    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch"/>

    <node pkg="path_track" type="dwa_path_track2" name="dwa_path_track2" output="screen"/>

    <node pkg="rviz" type="rviz" name="rviz" output="screen"/>

</launch>
